.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select, textarea {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    margin-top: 10px;
  }
  

body {
    text-align: center;
}

button {
    margin: 10px;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button.admin {
    background-color: rgb(21, 190, 21);
}

button.employee {
    background-color: #22A699;
}
