{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Login</title>
    <link rel="stylesheet" href="{% static 'css/employee_login.css' %}">
</head>
<body>
    <h1><i>Employee Management System</i></h1>
    <div class="login-container">
        <h2>Sign In|Employee</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        <!--<p>Forgot your password?<a href="{% url 'reset_password' %}">Reset Password</a>-->
        <p>Don't have an account? <a href="{% url 'employee_registration' %}">Register here</a></p>
    </div>

</body>
</html>